.navbar {
  width: 100%;
  height: 82px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 7.98256px 8.4564px rgba(1, 79, 38, 0.1);

}

.navbar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;    padding-right: 850px;

}

.navbar .leftSide img {
    width: 200px;
    padding-left: 50px;
}

.navbar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  font:inherit;
  color: #000000;
  text-decoration: none;
  margin: 40px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color:hsl(0, 0%, 0%);
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 40px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }